<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="WeedingDBConnection"
         connectionString="Data Source=LAPTOP-LTQ4MPKR\SQLEXPRESS;
                           Initial Catalog=weedingdb;
                           Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />
    <trace enabled="true" localOnly="false" />
  </system.web>

</configuration>
